services:
  postgres:
    image: postgres:15
    container_name: lakehouse-postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - lakehouse-net
  minio:
    image: minio/minio:latest
    container_name: lakehouse-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - lakehouse-net

  spark-master:
    image: bitnami/spark:3.5
    container_name: spark-master
    environment:
      - SPARK_MODE=master
    ports:
      - "7077:7077"
      - "8080:8080"
    networks:
      - lakehouse-net

  spark-worker:
    image: bitnami/spark:3.5
    container_name: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    depends_on:
      - spark-master
    networks:
      - lakehouse-net

  trino:
    image: trinodb/trino:latest
    container_name: lakehouse-trino
    ports:
      - "8081:8080"
    networks:
      - lakehouse-net

  airflow-webserver:
    build:
      context: .
      dockerfile: Dockerfile
    image: lakehouse-airflow:2.9.3
    container_name: airflow-webserver
    command: webserver
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8082:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    networks:
      - lakehouse-net

  airflow-scheduler:
    image: lakehouse-airflow:2.9.3
    container_name: airflow-scheduler
    command: scheduler
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    networks:
      - lakehouse-net

volumes:
  postgres_data:
  minio_data:
networks:
  lakehouse-net:
    driver: bridge